<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <md-list>
    <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
      <md-list-item>
        <md-icon md-list-avatar><span class="text-sm tc-orange-{{i}}00">HH</span></md-icon>
        <h3 md-line class="cursor-pointer"> Firstname Lastname </h3>
        <p md-line>
                <span class="text-wrap">
                  {{ 'Farm-to-table poke distillery, bushwick messenger bag vaporware neutra artisan paleo. Single-origin coffee shabby chic glossier lumbersexual chambray dreamcatcher, blue bottle raclette. Farm-to-table poke distillery, bushwick messenger bag vaporware neutra artisan paleo. Single-origin coffee shabby chic glossier lumbersexual chambray dreamcatcher, blue bottle raclette.'  }}
                </span>
        </p>
      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </md-list>
</md-card>

